<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@drawable/ffac">
<!--Toolbar-->
    <android.support.v7.widget.Toolbar
        android:id="@+id/toolbar"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:minHeight="?attr/actionBarSize"
        android:background="@android:color/transparent"
        app:popupTheme="@style/ThemeOverlay.AppCompat.Light"
        app:layout_scrollFlags="scroll|enterAlways" />
<!--Menu-->
    <android.support.v4.widget.DrawerLayout
        android:id="@+id/drawer_layout"
        android:layout_height="match_parent"
        android:layout_width="match_parent">
        <android.support.design.widget.NavigationView
            android:id="@+id/nav_view"
            android:layout_height="match_parent"
            android:layout_width="200dp"
            android:layout_gravity="start"
            android:fitsSystemWindows="true"
            app:menu="@menu/menu" />
    <!--Cuerpo-->
        <TableLayout
            android:minWidth="25px"
            android:minHeight="25px"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/tableLayout1">
            <TableRow
                android:id="@+id/tableRow3">
                <ImageButton
                    android:layout_width="155.5dp"
                    android:layout_height="155.5dp"
                    android:id="@+id/imageButton1"
                    android:backgroundTintMode="src_in"
                    android:background="@drawable/btnf1"
                    android:layout_marginTop="0.0dp"
                    android:layout_marginLeft="102.0dp"
                    android:layout_span="2"
                    android:layout_marginRight="127.5dp" />
            </TableRow>
            <TableRow
                android:id="@+id/tableRow3">
                <ImageButton
                    android:layout_width="155.5dp"
                    android:layout_height="155.5dp"
                    android:id="@+id/imageButton2"
                    android:backgroundTintMode="src_in"
                    android:background="@drawable/btnf2"
                    android:layout_marginTop="13.0dp"
                    android:layout_marginLeft="102.0dp"
                    android:layout_span="2"
                    android:layout_marginRight="127.5dp" />
            </TableRow>
            <TableRow
                android:id="@+id/tableRow3">
                <ImageButton
                    android:layout_width="155.5dp"
                    android:layout_height="155.5dp"
                    android:id="@+id/imageButton3"
                    android:backgroundTintMode="src_in"
                    android:background="@drawable/btnf3"
                    android:layout_marginTop="13.0dp"
                    android:layout_marginLeft="102.0dp"
                    android:layout_span="2"
                    android:layout_marginRight="127.0dp" />
            </TableRow>
            <TableRow
                android:id="@+id/tableRow3">
                <Button
                    android:id="@+id/buttonc"
                    android:layout_width="190.0dp"
                    android:layout_marginRight="0.0dp"
                    android:background="@drawable/c2"
                    android:layout_height="wrap_content"
                    android:layout_marginTop="15.0dp" />
                <Button
                    android:id="@+id/buttonf"
                    android:layout_marginLeft="0.0dp"
                    android:layout_width="195.0dp"
                    android:layout_height="wrap_content"
                    android:layout_marginTop="15.0dp"
                    android:backgroundTintMode="src_in"
                    android:background="@drawable/btnf4" />
            </TableRow>
        </TableLayout>
    <!--Fin-cuerpo-->
    </android.support.v4.widget.DrawerLayout>
</LinearLayout>